#J_menu_sidebar {
  position: relative;
  width: 200px;
  height: 440px;
  margin: 50px;
  background-color: #424242;
}

.main {
  height: 100%;
}

.main .main-item {
  height: 44px;
}

.main .main-item a {
  display: block;
  height: 100%;
  line-height: 44px;
  color: #fff;
}

.main .main-item.active a {
  color: #ff5000;
  background-color: #666;
}

.sub {
  position: absolute;
  top: 0;
  left: 200px;
  width: 440px;
  height: 440px;
  background-color: #eee;
}

.sub.hide {
  display: none;
}

.sub .sub-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 440px;
  font-size: 50px;
}

.sub .sub-item.active {
  display: block;
}
