.tb-recommend {
  width: 1010px;
  margin: 50px auto;
}

.tb-recommend-item {
  float: left;
  position: relative;
  width: 200px;
  height: 180px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tb-recommend-item.active {
  width: 330px;
}

.tb-recommend-item.active .img-wrap {
  width: 170px;
  height: 160px;
}

.tb-recommend-item.active .title a {
  color: #ff5000;
}

.tb-recommend-item .title {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.tb-recommend-item .price {
  position: absolute;
  left: 10px;
  bottom: 30px;
  font-size: 18px;
  color: #ff5000;
}

.tb-recommend-item .img-wrap {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 100px;
}

.tb-recommend-item .img-wrap img {
  width: 100%;
  height: 100%;
}
